<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div data-role="fieldcontain">
  <%= f.email_field :email, :placeholder => "Email" %></div>

  <div data-role="fieldcontain"><i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password" %></div>

  <div data-role="fieldcontain">
  <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %></div>

  <div data-role="fieldcontain"> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, :placeholder => "Old Password" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
