<%= form_for [current_user.decks.first, @card], :html => { :multipart => true, "data-ajax" => "false" } do |f| %>
 <div data-role="fieldcontain">
   <%= f.text_field :foreign_word, :placeholder => "Foreign Word" %>
 </div>
 <div data-role="fieldcontain">
   <%= f.text_field :native_word, :placeholder => "Native Word" %>
 </div>
 <% if @card.image_file_name %>
   <%= image_tag (@card.image.url(:medium)), :class => "image_on_edit_page" %>
   <div class="change_picture_button">
     <%= button_tag "Change picture", :type => "button", :id => "change_picture_button" %>
   </div>
   <div class="image_upload_1" data-role="fieldcontain">
     <%= f.file_field :image %>
   </div>
 <% else %>
  <div class="image_upload" data-role="fieldcontain">
    <%= f.file_field :image %>
  </div>
  <% end %>

  <div data-role="fieldcontain">
    <% @decks.each do |deck| %>


    <div class="checkbox_tag_custom" name="checkbox-<%=deck.id%>" >
        <%= check_box_tag "deck_ids[]", deck.id, false, {:id => "checkbox-#{deck.id}"}%>
    </div>
        <%= label_tag "checkbox-#{deck.id}", deck.name %>
      </fieldset>

     <% end %>
   <!-- LIST ALL DECKS WITH CHECKBOXES NEXT TO THEM -->
 </div>

 <%= f.submit %>
<% end %>

<script type="text/javascript">

$("#change_picture_button").on("click", function(event) {
  event.preventDefault();
   $(".image_on_edit_page").hide();
     $(".change_picture_button").hide();
     $(".image_upload_1").css("display", "block");
});
</script>