<%= form_for [current_user.decks.first, @card] do |f| %>
 <div data-role="fieldcontain">
   <%= f.text_field :foreign_word, :placeholder => "Foreign Word" %>
 </div>
 <div data-role="fieldcontain">
   <%= f.text_field :native_word, :placeholder => "Native Word" %>
 </div>

  <div data-role="fieldcontain">
    <% @decks.each do |deck| %>


    <div class="checkbox_tag_custom" name="checkbox-<%=deck.id%>" >
        <%= check_box_tag "deck_ids[]", deck.id, false, {:id => "checkbox-#{deck.id}"}%>
    </div>
        <%= label_tag "checkbox-#{deck.id}", deck.name %>
      </fieldset>

     <% end %>
   <!-- LIST ALL DECKS WITH CHECKBOXES NEXT TO THEM -->
 </div>

<%= f.submit %>
<% end %>