<div id="single_card_body">
  <div id="words">
    <h2 class="native_word_show_page"><%= @card.native_word %></h2>
    <p class="foreign_word_show_page"><%= @card.foreign_word%></p>
  </div>

<div id="img_in_show_card">
  <% if @card.image_file_name %>
    <%= image_tag @card.image.url(:medium) %>
  <% end %>

  <div id="card_edit_button">
    <p data-role="button" data-inline="true" data-mini="true"><%= link_to "Edit", edit_deck_card_path(@card.decks.first, @card) %></p>
    <p id="card_delete_button" data-role="button" data-inline="true" data-mini="true"><%= link_to "Delete", deck_card_path(@card.decks.first, @card), :method => :delete, :data => { :confirm => "Are you sure?" } %></p>
  </div>

<%  if @card.previous_card(@deck) %>
  <p data-role="button" data-inline="true" data-mini="true">
    <%= link_to "< Previous", deck_card_path(@deck.id , @card.previous_card(@deck)) %>
  </p>
<% end %>
  <p data-role="button" data-inline="true" data-mini="true">
    <%= link_to "New Card", new_deck_card_path(@card.decks.first) %>
  </p>
<%  if @card.next_card(@deck) %>
  <p data-role="button" data-inline="true" data-mini="true">
    <%= link_to "Next >", deck_card_path(@deck.id, @card.next_card(@deck)) %>
  </p>
<% end %>
</div>

