<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= content_for?(:title) ? yield(:title) : "Verbza" %></title>
    <%= csrf_meta_tags %>

    <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script> -->

    <%= render 'layouts/shim'%>


    <%= stylesheet_link_tag "application", :media => "all" %>

<!-- Loads faster at the end of the document? -->
    <%= javascript_include_tag "application" %>


  </head>
  <body>

    <%= image_tag("background-large.jpg", class: "background_image") %>



    <div id="home" class="wrapper" data-role="page", data-theme="a">
     
      <div id="content" data-role="content">
        <%= yield %>

      </div>

      <footer data-role="footer" data-position="fixed">
        <p>&copy; <span>verbza</span>, 2012</p>
      </footer>
       <header id="header" data-role="header">
          <%= render "layouts/header"%>
        </header>
    </div> <!-- /container -->

  </body>
</html>
